src/main/mule/fetchcustomerdetails1-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fetchcustomerdetails1-implFlow" doc:id="d4be4aa8-f987-4acf-9e11-29eb3f81bcf4" >
		<logger level="INFO" doc:name="Logger" doc:id="3d988e61-6bc8-43dc-ab8b-5e76c617cde2" message="start fetchCustomerDetails1 Flow"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="vCustomerId" doc:id="2980088f-1316-475f-8874-2d343175e2ec" variableName="vCustomerId"/>
		<db:select doc:name="Select" doc:id="cca1c909-8759-4f9d-bf3e-4cc1bb1bd800" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american where id =:customerid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"customerid": vars.vCustomerId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ecd462a6-7147-4fda-b727-2cc8c877c93e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f42a7d70-e402-464a-881f-6b3aa63f20a8" message="completed fetch customer details1 flow: #[payload]"/>
	</flow>
</mule>
